{{template "header"}}
<div class="row">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <button type="button" class="btn btn-custom">插件市场 <span class="m-l-5"><i class="zmdi zmdi-alarm-plus"></i></span>
                </button>
            </div>
            <h4 class="page-title">插件中心</h4>
        </div>

        <div class="col-sm-12">
            <div class="card-box table-responsive">
                xxxx
            </div>
        </div>

    </div>
</div>
{{template "footer" }}
