{{template "header"}}
<style>
    .switch {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: relative;
        width: 52px;
        height: 32px;
        outline: none !important;
        border-radius: 16px;
        border: 1px;
        box-sizing: border-box;
        background-color: #DFDFDF;
        transition: background-color .1s, border .1s;
    }

    .switch::before {
        content: " ";
        position: absolute;
        width: 52px;
        height: 32px;
        border: 1px solid #DFDFDF;
        border-radius: 16px;
        background-color: #FFFFFF;
        transition: transform .35s cubic-bezier(0.45, 1, 0.4, 1);
    }

    .switch::after {
        content: " ";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition: transform .35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }

    .switch:checked {
        border-color: #1AAD19;
        background-color: #1AAD19;
    }

    .switch:checked::before {
        transform: scale(0);
    }

    .switch:checked::after {
        transform: translateX(20px);
    }
</style>
<div class="row">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">系统设置</h4>
        </div>

        <div class="col-sm-6">
            <div class="card-box table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="15%">配置名称</th>
                        <th>配置介绍</th>
                        <th>配置时间</th>
                        <th width="10%;">状态</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tableList">
                    {{range $i, $e := .subscribeList}}
                    <tr>
                        <td>{{$e.setting_name}} </td>
                        <td>{{$e.setting_dis}}</td>
                        <td>{{$e.update_time}}</td>
                        <td><input class="switch" value="1"  type="checkbox"
                        {{if eq $e.status 1}}
                                   checked
                        {{end}}
                        /></td>
                        <td><button type="button" class="btn btn-info  btn-sm" onclick="settingSubFunc('{{$e.id}}')"  data-toggle="modal" data-target="#myModal">配置</button></td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-box table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="15%">配置名称</th>
                        <th>配置介绍</th>
                        <th>配置时间</th>
                        <th width="10%;">状态</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tableList">
                    {{range $i, $e := .settingList}}
                    <tr>
                        <td>{{$e.setting_name}} </td>
                        <td>{{$e.setting_dis}}</td>
                        <td>{{$e.update_time}}</td>
                        <td><input class="switch" value="1"  type="checkbox"
                        {{if eq $e.status 1}}
                                   checked
                        {{end}}
                        /></td>
                        <td><button type="button" class="btn btn-info  btn-sm"  onclick="settingSubFunc('{{$e.id}}')"   data-toggle="modal" data-target="#settingLoginModal">配置</button></td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">邮件提醒配置</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="发件人email">
                    </div>
                    <div class="form-group">
                        <label for="">pass</label>
                        <input type="text" class="form-control" id="pass" name="pass" placeholder="发件人的邮箱配置密码">
                    </div>
                    <div class="form-group">
                        <label for="">host</label>
                        <input type="text" class="form-control" id="host" name="host" placeholder="例:smtp.126.com">
                    </div>
                    <div class="form-group">
                        <label for="">port</label>
                        <input type="number" class="form-control" id="port" name="port" placeholder="例:465">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="updateEmailPost()">Save</button>
                </div>
        </div>
    </div>
</div>
<!--Setting User Info Modal -->
<div class="modal fade" id="settingLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录配置</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">设置用户名</label>
                        <input type="text" class="form-control" id="loginName" name="loginName" placeholder="请填写登录用户名">
                    </div>
                    <div class="form-group">
                        <label for="">设置密码</label>
                        <input type="password" class="form-control" id="loginPwd" name="loginPwd" placeholder="登录密码">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="addLoginPost()">Save</button>
                </div>
        </div>
    </div>
</div>
<input type="hidden" value="" id="settingId">
{{template "footer" }}
<script>


    function settingSubFunc(id) {
        $("#settingId").val(id)
        console.log(id)
    }
    function updateEmailPost () {
        var parms= {
            email:$("#email").val(),
            pass:$("#pass").val(),
            host:$("#host").val(),
            port:$("#port").val(),
            id:$("#settingId").val()
        }
        console.log(parms)
        $.ajax({
            type: "post",
            url: "/post/setting/update",
            data:parms,
        }).success(function(message) {
            $('#myModal').modal('hide')
            console.log(message)
        }).fail(function(err){
            console.log(err)
        })
    }
    function addLoginPost () {
        var parms= {
            loginName:$("#loginName").val(),
            loginPwd:$("#loginPwd").val(),
            id:$("#settingId").val()
        };
        $.ajax({
            type: "post",
            url: "/post/setting/login",
            data: parms,
        }).success(function(message) {
            $('#settingLoginModal').modal('hide')
            console.log(message)
        }).fail(function(err){
            console.log(err)
        })
    }
</script>
