{{template "header"}}
<style>
    .card-box {
        padding: 0px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0rem;
    }

    thead {
        background: #f2f2f3;
    }

    .start_end {
        margin-right: 5px;
    }

    .del {
        color: #f70000;
    }

    .cjs {
        color: #525d6d;
    }
</style>
<div class="row">
    <!-- Page-Title -->
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <button type="button" class="btn btn-custom">使用说明 <span class="m-l-5"><i
                    class="zmdi zmdi-alarm-plus"></i></span>
            </button>
        </div>
        <h4 class="page-title">创建任务</h4>
    </div>

    <div class="col-sm-12">
        <div class="card-box">
            asdasd
        </div>
    </div>
</div>
{{template "footer" }}
<script>
</script>